@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Geist', sans-serif;
}

/* src/styles/globals.css */
.marquee-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

.marquee-content {
  display: flex;
  gap: 24px;
  min-width: 100%;
  animation: marquee 60s linear infinite;
}

.marquee-container:hover .marquee-content {
  animation-play-state: paused;
}

/* Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Webkit */
}